body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.right-links{
    display: flex;
}
img{
    max-height: 200px;
    border-radius: 10px;
}
.top{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding-bottom: 20px;
}


.title_text{
    font-weight:900;
    color: #f9faf8;
}

.title_description{
    font-size: 10px;
    color: #e5e7eb;
}
.middle{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}
.images{
    display: flex;
    justify-content: space-evenly;
}
.images_header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.bottom{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 100px;
}

.quote{
    font-size: 24px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
}
.shary{
    display: flex;
    justify-content: flex-end;
}

.shary{
    font-size: 28px;
    font-weight: bold;
}

.end{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 50px;
}
.container{
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
    width: 600px;
    padding: 20px;
}

.container_left{
    margin-right: 30px;
}

.action_description{
    font-size: 10px;
}

.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

button{
    color: #ffffff;
    background-color: #3882f6;
    border-radius: 5px;
    border-color: white;
    width: 100px;
    }

.signup_button>button{
    border-width: 0px;
    margin-top: 18px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

li{
    margin: 20px;
}

.header>img{
    max-height: 80px;
}

.it_img>img{
    max-height: 150px;
}